.containerHome {
  justify-content: center;
  align-content: center;
}

.title {
  font-family: "Cinzel Decorative", sans-serif;
  margin-top: 50px;
  color:#7c8320;
  font-size: 80px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  font-family: "Cinzel Decorative", sans-serif;
  text-align: center;
}

#imgPresentacion {
width: 700px;
height: 500px;
display: flex;
justify-content: start;
align-items: center;
border-radius: 20px;
}

.textoPresentacion {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin-left: 40px;
}

#seccionPresentacion {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 70px;
}

.textParrafoP {
  font-size: 15px;
  width: 70%;
}

.titles {
  color:#7c8320 ;
}

.botones {
margin: 50px;
}