.botones {
    background-color: #ffffff;
    color:#7a7310;
    padding: 10px;
    margin: 30px;
    font-family: "Spirit", sans-serif;
    border-radius: 40px;
    border: 3px solid #7c8320;
    font-size: 70px;
    
}

.botones:hover {
 background-color:#000000; 
  color: #ffe345;
}

#containerButon {
margin: 50px;
}