:root {
  color: #ffffff;
  font-size: 15px;
  font-family: "VARUNA", sans-serif;
  text-align: center;
}

body {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

main {
  position: relative;
  height: 93vh;
  overflow: hidden;
}
