.app {
    align-content: center;
    align-items: center;
    background-color: #e0a3f0;
    font-size: 20px;
    border-radius: 50px;
    padding: 50px;
    margin: 30px;
    text-align: center;
    border: 5px solid  #7c8320 ;
}

.info {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: "Spirit", sans-serif;
    padding: 2px;
    line-height: 5px;
}

