.containerNav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
    background: linear-gradient(145deg, #0a0a0a, #1a1a1a);
    padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}


.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 20px;
   background: linear-gradient(to right, #f5f5dc, #ffd70066);
  color: #000;
  margin: 30px;
 font-family: "VARUNA", sans-serif;
  text-decoration: none;
  border-radius: 30px;
  border: 3px solid #7a7310;
  font-size: 20px;
  font-weight: 600;
}

.item:hover {
  color: #000000;
  border: 3px solid #7a7310;
    background: linear-gradient(to right,#ffd70066, #f5f5dc);
}

.containerLogo {
  display: flex;
  justify-content: flex-start;
  margin-right: 120px;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 10px;
}
