.containerNav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  margin-top: 50px;
}

.item {
  background-color: #000000;
  color:#ffffff;
  padding: 10px;
  margin: 30px;
  font-family: "Spirit", sans-serif;
  border-radius: 30px;
  border: 3px solid #7a7310;
  font-size: 50px;
}

.item:hover {
  background-color:#ffffff; 
  color:#7a7310;
  border: 3px solid #7a7310;
  
}

#logo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}