.containerNav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/fractal.webp");
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.item {
  background-color: black;
  color: #ffffff;
  padding: 20px;
  margin: 30px;
  font-family: 'Borzoi', sans-serif;
  text-decoration: none;
  border-radius: 30px;
  border: 3px solid #7a7310;
  font-size: 22px;
}

.item:hover {
  color: #7a7310;
  border: 3px solid #7a7310;
  background-color: white;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 50px;
  
}
